@import './reset';

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic");

body {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 2rem;

}
h1, h2, h3 {
    font-family: 'Open Sans';
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.5rem;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
    font-size: 0.8 rem;
    line-height: 1.2rem;
}

.title {
    background-color: black;
    background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_white.png");
    background-position: 15% 90%;
    background-size: 250px;
    color: white;
    padding: 0 6rem 0 6rem;
    vertical-align: middle;
    h1 {
        &:after {
            content: "";
            border-bottom: .5rem solid #d62828;
            display: block;
            width: 33%;
            padding: 3rem 0 0 0;
            margin: 0 0 3rem 0;
        }
    }
    p {
        font-size: 2rem;
    }
}

.section {
    background-color: #f4f5f7;
    background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
    background-position: 15% 90%;
    background-size: 150px;
    color: black;
    text-align: center;
    h1 {
        font-size: 45px;
        padding: 0 0 4rem 0;
        &:before {
            content: "";
            border-top: 0.5rem solid #d62828;
            display: block;
            width: 100%;
            padding: 0 0 10rem 0;
        }
    }
}

.full-width {
    background-color: #f4f5f7;
    background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
    background-position: 15% 90%;
    background-size: 150px;
    color: black;
    h1 {
        font-size: 45px;
        margin: 0 0 4rem 0;
        &:before {
            content: "";
            border-top: 0.5rem solid #d62828;
            display: block;
            width: 45%;
            padding: 0 0 2rem 0;
        }
    }
    p {
        margin: 0 0 1rem 0;
    }
}

.half-width {
    background-color: #f4f5f7;
    background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
    background-position: 15% 90%;
    background-size: 150px;
    color: black;
    h1 {
        font-size: 45px;
        margin: 0 0 4rem 0;
        &:before {
            content: "";
            border-top: 0.5rem solid #d62828;
            display: block;
            width: 45%;
            padding: 0 0 2rem 0;
        }
    }

    p {
        margin: 0 0 1rem 0;
    }

    .left-col {
        width: 49%;
        float: left;
    }

    .right-col {
        width: 49%;
        float: right;
        & ~ ul {
            clear: both;
        }
        & ~ p {
            clear: both;
        }
    }
}

