<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <textarea id="source">
{{ markdown }}
        </textarea>
        <script src="https://remarkjs.com/downloads/remark-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var slideshow = remark.create();
        </script>
    </body>
</html>
