/* Box sizing rules */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 2rem; }

h1, h2, h3 {
  font-family: 'Open Sans';
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5rem; }

.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 0.8 rem;
  line-height: 1.2rem; }

.title {
  background-color: black;
  background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_white.png");
  background-position: 15% 90%;
  background-size: 250px;
  color: white;
  padding: 0 6rem 0 6rem;
  vertical-align: middle; }
  .title h1:after {
    content: "";
    border-bottom: .5rem solid #d62828;
    display: block;
    width: 33%;
    padding: 3rem 0 0 0;
    margin: 0 0 3rem 0; }
  .title p {
    font-size: 2rem; }

.section {
  background-color: #f4f5f7;
  background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
  background-position: 15% 90%;
  background-size: 150px;
  color: black;
  text-align: center; }
  .section h1 {
    font-size: 45px;
    padding: 0 0 4rem 0; }
    .section h1:before {
      content: "";
      border-top: 0.5rem solid #d62828;
      display: block;
      width: 100%;
      padding: 0 0 10rem 0; }

.full-width {
  background-color: #f4f5f7;
  background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
  background-position: 15% 90%;
  background-size: 150px;
  color: black; }
  .full-width h1 {
    font-size: 45px;
    margin: 0 0 4rem 0; }
    .full-width h1:before {
      content: "";
      border-top: 0.5rem solid #d62828;
      display: block;
      width: 45%;
      padding: 0 0 2rem 0; }
  .full-width p {
    margin: 0 0 1rem 0; }

.half-width {
  background-color: #f4f5f7;
  background-image: url("http://d12v9rtnomnebu.cloudfront.net/logo/corporate/ID_black.png");
  background-position: 15% 90%;
  background-size: 150px;
  color: black; }
  .half-width h1 {
    font-size: 45px;
    margin: 0 0 4rem 0; }
    .half-width h1:before {
      content: "";
      border-top: 0.5rem solid #d62828;
      display: block;
      width: 45%;
      padding: 0 0 2rem 0; }
  .half-width p {
    margin: 0 0 1rem 0; }
  .half-width .left-col {
    width: 49%;
    float: left; }
  .half-width .right-col {
    width: 49%;
    float: right; }
    .half-width .right-col ~ ul {
      clear: both; }
    .half-width .right-col ~ p {
      clear: both; }
